<html lang="en">
	<head>
		<title>Yolo small 300 객체 검출 모델 입니다~</title>
	</head>
	<body>
        <h1>This is Yolo small object detector</h1>

        <input  type="file"   id="inputImage" accept="image/*"> 
		<button type="button" id="inference">detect</button>

        <div class="row">
            <div id="original" style="margin-top: 5%">여기에 원본 이미지가 표시됩니다.</div>
            <div id="detected" style="margin-top: 5%">여기에 검출 결과가 표시됩니다.</div>
        </div>

        <script async src="https://docs.opencv.org/4.x/opencv.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

        <script type="module">
            import { pipeline } from "https://cdn.jsdelivr.net/npm/@xenova/transformers@2.7.0";
            
            // 모델 빠이쁘라인 가져오는 부분.
            async function load_pipeline(){
                console.time("load pipeline...");
                var pipe = pipeline("object-detection", "Xenova/yolos-small");
                console.timeEnd("load pipeline...");
                
                return pipe;
            };

            
            // 파일이 업로드 되면, canvas에 바로 디스플레이
            function File2Canvas(input_, div_id){

                const file_div = document.getElementById(div_id);
                const canvas   = document.createElement("canvas");
                const reader   = new FileReader();
                const image    = new Image();

                const context  = canvas.getContext("2d");
                reader.readAsDataURL(input_);
                reader.onload = (e) => {

                    image.src = e.target.result;
                    image.onload = () => {

                        canvas.width  =  image.width;
                        canvas.height = image.height;

                        context.drawImage(image, 0, 0);
                    }
                }

                canvas.setAttribute("id", "original_image");
                file_div.appendChild(canvas);
            };


            // 이미지에서 검출해낸 객체에 bbox 그려주는 부분.
            function DrawRectangle(bboxes){

                let image = cv.imread("original_image");

                // 바운딩 박스 색깔 설정 RGBA
                let color = new cv.Scalar(0, 256, 256, 128);

                for (var idx = 0; idx < bboxes.length; idx++){
                    
                    // 검출한 바운딩 박스들에서 인덱싱하여 박스 좌표 가져옴.
                    var bbox = bboxes[idx];
                    
                    var label = bbox.label; 
                    var xmin  = bbox.box.xmin;
                    var xmax  = bbox.box.xmax;
                    var ymin  = bbox.box.ymin;
                    var ymax  = bbox.box.ymax;
                    
                    // 첫번째 점, 두 번째 점 객체 생성
                    var pt1  = new cv.Point(xmin, ymin);
                    var pt2  = new cv.Point(xmax, ymax);

                    cv.rectangle(image, pt1, pt2, color, 2);
                
                // id로 detected를 가지고 있는 div 태그 가져오기 
                const file_div = document.getElementById("detected");

                // 바운딩 박스가 그려질 이미지가 담길 canvas 생성
                const canvas   = document.createElement("canvas");
                canvas.setAttribute("id", "detected_image");
                
                // div#detected > canvas#detected_image 추가
                file_div.appendChild(canvas);
                cv.imshow("detected_image", image);
                };
            };


            // 추론 버튼이 눌리면 실행되는 YOLO 추론 함수
            async function inference(pipe, file){
                
                console.log('inference');
                const objectURL = URL.createObjectURL(file);

                console.time('inferece');
                const results = await pipe(objectURL, {threshold : 0.9})
                DrawRectangle(results);
                console.timeEnd('inferece');

            }
            

            async function main(){
                const detector   = await load_pipeline();

                const imageInput = document.getElementById("inputImage");
                var   infer_btn  = document.getElementById("inference");

                
                imageInput.onchange = () => {
                    File2Canvas(imageInput.files[0], 'original');
                };
                    

                infer_btn.addEventListener("click", function(){
                    inference(detector, imageInput.files[0]).then();
                });
            }


            main();
		</script>

	</body>
</html>
