<html lang="en">
	<head>
		<title>Yolo small 300 객체 검출 모델 입니다~</title>
	</head>
	<body>
        <h1>This is Yolo small object detector</h1>

        <input  type="file"   id="inputImage" accept="image/*""> 
		<button type="button" id="inference">detect</button>

        <div class="row">
            <div id="original" style="margin-top: 5%">여기에 원본 이미지가 표시됩니다.</div>
            <div id="detected" style="margin-top: 5%">여기에 검출 결과가 표시됩니다.</div>
        </div>

        <script async src="https://docs.opencv.org/4.x/opencv.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

        <script type="module">
            import { pipeline } from "https://cdn.jsdelivr.net/npm/@xenova/transformers@2.7.0";
            
            function load_pipeline(){
                console.time("load pipeline...");
                var pipe = pipeline("object-detection", "Xenova/yolos-small");
                console.timeEnd("load pipeline...");
                
                return pipe;
            };

            
            function File2Canvas(input_, div_id){

                const file_div = document.getElementById(div_id);
                const canvas   = document.createElement("canvas");
                const reader   = new FileReader();
                const image    = new Image();

                const context  = canvas.getContext("2d");
                reader.readAsDataURL(input_);
                reader.onload = (e) => {

                    image.src = e.target.result;
                    image.onload = () => {

                        canvas.width  =  image.width;
                        canvas.height = image.height;

                        context.drawImage(image, 0, 0);
                    }
                }

                canvas.setAttribute("id", "original_image");
                file_div.appendChild(canvas);
                return image
            };


            function DrawRectangle(bboxes){

                let image = cv.imread("original_image");
                var dst   = new cv.Mat();

                for (var idx = 0; idx < bboxes.length; idx++){
                    
                    console.log(idx);
                    console.log('여기 다시 도니?');
                    var bbox = bboxes[idx];

                    var xmin = bbox.box.xmin;
                    var xmax = bbox.box.xmax;
                    var ymin = bbox.box.ymin;
                    var ymax = bbox.box.ymax;

                    var rect = new cv.Rect(xmin, ymin, xmax, ymax);
                    console.log(bbox);
                    console.log(xmin, xmax, ymin, ymax);
                    console.log(rect);

                    // dst      = image.roi(rect);
                    console.log(image);
                    console.log('설마 여까지도 안내려 왔을라구~~');
                    
                console.log('여까지는 내려왔을걸?');
                const file_div = document.getElementById("detected");
                const canvas   = document.createElement("canvas");
                canvas.setAttribute("id", "detected_image");

                file_div.appendChild(canvas);
                cv.imshow("detected_image", dst);

                image.delete(); dst.delete();
                };
            };


            async function inference(detector){
                
                console.log('inference');
                const objectURL = URL.createObjectURL(imageInput.files[0]);

                detector.then(
                    sess => {
                        console.time('inferece');
                        sess(objectURL, {threshold : 0.9}).then(
                            results => {
                            DrawRectangle(results);
                        });
                        console.timeEnd('inferece');
                    }
                )

            }
            

            const detector      = load_pipeline();

            const imageInput = document.getElementById("inputImage");
            var   infer_btn = document.getElementById("inference");

            
            imageInput.onchange = () => {
                var image_url = '';
                image_url     = File2Canvas(imageInput.files[0], 'original');
            };
                

            infer_btn.addEventListener("click", function(){
                inference(detector).then();
            });
		</script>

	</body>
</html>
