<html lang="en">
	<head>
		<title>Yolo small 300 객체 검출 모델 입니다~</title>
	</head>
	<body>
        <h1>This is Yolo small object detector</h1>

        <input  type="file"   id="inputImage" accept="image/*""> 
		<button type="button" id="inference">detect</button>

        <div class="row">
            <div id="original" style="margin-top: 5%">여기에 원본 이미지가 표시됩니다.</div>
            <div id="detected" style="margin-top: 5%">여기에 검출 결과가 표시됩니다.</div>
        </div>

        <script async src="https://docs.opencv.org/4.x/opencv.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/mathjs@11.8.0/lib/browser/math.min.js"></script>

		<script type="module">
            import { pipeline } from "https://cdn.jsdelivr.net/npm/@xenova/transformers@2.7.0";
            
            const FileToBlob = function(file){

                if (typeof file != "indefiend"){
                    console.log("image has been uploaded.");

                    return new Promise((resolve, reject) => {
                        const reader = new FileReader();
                        reader.readAsDataURL(file);
                    }).then(base64 => {

                        const decoded = atob(base64.split(',')[1]);
                        console.log(decoded);
                    })
                }
            }


            async function inference(pipe){
                
                const imageInput = document.getElementById("inputImage");
                var blob_        = null;
                blob_            = await FileToBlob(imageInput.files[0]);

            }

            function load_pipe(){
                console.time("load pipeline...");
                var pipe = pipeline("translation", "Xenova/nllb-200-distilled-600M");
                console.timeEnd("load pipeline...");
                
                return pipe;
            };

            

            const pipe    = load_pipe();
            var infer_btn = document.getElementById("inference");

            infer_btn.addEventListener("click", function(){
                inference(pipe).then();
            });
		</script>

	</body>
</html>
