<html lang="en">
	<head>
		<title>Yolo small 300 객체 검출 모델 입니다~</title>
	</head>
	<body>
        <h1>This is Yolo small object detector</h1>

        <input  type="file"   id="inputImage" accept="image/*""> 
		<button type="button" id="inference">detect</button>

        <div class="row">
            <div id="original" style="margin-top: 5%">여기에 원본 이미지가 표시됩니다.</div>
            <div id="detected" style="margin-top: 5%">여기에 검출 결과가 표시됩니다.</div>
        </div>

        <script async src="https://docs.opencv.org/4.x/opencv.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

        <script type="module">
            import { pipeline } from "https://cdn.jsdelivr.net/npm/@xenova/transformers@2.7.0";
            
            
            async function inference(detector){
                
                const imageInput = document.getElementById("inputImage");
                const objectURL  = URL.createObjectURL(imageInput.files[0]);
                
                detector.then(
                    sess => {
                        console.time('inferece');
                        sess(objectURL, {threshold : 0.9}).then(
                            results => {

                                const box  = results[0].box
                                const xmin = box.xmin;
                                const xmax = box.xmax;

                                const ymin = box.ymin;
                                const ymax = box.ymax;

                                console.log(box);
                                console.log(xmin, xmax);
                                console.log(ymin, ymax);
                        });
                        console.timeEnd('inferece');
                    }
                )

            }


            function load_pipeline(){
                console.time("load pipeline...");
                var pipe = pipeline("object-detection", "Xenova/yolos-small");
                console.timeEnd("load pipeline...");
                
                return pipe;
            };

            
            const detector      = load_pipeline();
            var   infer_btn = document.getElementById("inference");

            infer_btn.addEventListener("click", function(){
                inference(detector).then();
            });
		</script>

	</body>
</html>
