<html lang="en">
	<head>
		<title>한국어 -> 영어 번역기 입니다~</title>
	</head>
	<body>
        <h1>This is KOR -> ENG Translator</h1>

        <input id = "prompt"> 
		<button type="button" id="inference">translate</button>

        <div id="translated"><label id = "translated_lb">여기에 번역된 결과가 표시됩니다.</label></div>

		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="module">

            // 빠이프 라인 가져오기 
            import { pipeline } from "https://cdn.jsdelivr.net/npm/@xenova/transformers@2.7.0";
            

            function load_pipe(){
                console.time("load pipeline...");
                var pipe = pipeline("translation", "Xenova/nllb-200-distilled-600M");
                console.timeEnd("load pipeline...");
                
                return pipe;
            };

            
            function display_translated(translated){
                document.getElementById("translated_lb").innerText = translated;
            };

            
            async function inference(pipe){

                console.log("translate start");

                const context     = {src_lang : "kor_Hang", tgt_lang : "eng_Latin"};
                const prompt     = document.getElementById("prompt").value;
                const translated = pipe(prompt, context)
                
                display_translated('')
                display_translated(translated[0].translation_text);

            };


            async function main(){

                const translator = await load_pipe();
                var inferBtn     = document.getElementById("inference");

                inferBtn.addEventListener("click", function(){
                    inference(translator).then();
                });
            }

            main();  
		</script>

	</body>
</html>
