## 데이터 보호
doodle/data/**/*.* 
dataset/**/*.*
**/*.docx
**/*.json
**/*.csv
**/*.jpg
**/*.png
**/*.tar
**/*.txt
**/*.xml
**/*.zip
**/*jpg
**/*.db
**/*.h5
**/*.pt

## 굳이 필요없는 애들
**/Template.ipynb
**/Untitled.ipynb
**/*-checkpoint*
**/*.ttf
**/*.pyc


## 다른 사람 코드
**/**/pytorch
