GOOGLE_API_KEY=

# MLflow 트래킹 서버
MLFLOW_TRACKING_URI=https://mlflow.dove-nest.com
MLFLOW_EXPERIMENT_NAME=langchain-study

# 서버에 basic-auth 를 켜면 아래 값 설정
# MLFLOW_TRACKING_USERNAME=
# MLFLOW_TRACKING_PASSWORD=
